.animate-grow {
	height: 72px;
	line-height: 72px;
	background: #E41931;
	border-radius: 20px;
	font-weight: bold;
	font-size: 22px;
	padding: 20px;
	text-align: center;
	color: #FFFFFF;
	animation: animate_grow 2s infinite;
}

@keyframes animate_grow {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}