#conteiner{
    height: 150px;
    width: 150px;
    background:rgb(62, 62, 62);
    border-radius: 50%;
    transition: all 300ms;
    display: flex;
}

#conteiner.active{
    background: rgb(255, 114, 52);
    margin: 150px 150px 150px 150px;
    transition: all 300ms;
    display: block;
}

#new{
    height: 150px;
    width: 150px;
    margin-top: -150px;
    border-radius: 50%;
    transition: all 300ms;
    display: flex;
}

#new.active{
    background: rgb(255, 114, 52);
    margin: 100px;
    transition: all 300ms;
    display: block;
}